/node_modules
/.next
/.next/cache
/out
dist
build
/.env
/.env.local
/.env.*
!.env.example
/tsconfig.tsbuildinfo
coverage
.nyc_output
.eslintcache
.vercel
*.DS_Store
.idea
.vscode
*.swp
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
